* {
    padding: 0;
    margin: 0;
    background-color: #fafaef;
}

header {
    display: flex;
    font-family: Philosopher;
    color: #1c2321;
    background: #fafaef;
    height: 123px;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;

}

.logo {
    margin: 20px 0px 20px 10vw;
    display: flex;
    align-items: center;
}

.navbar {
    margin: 20px 10vw;
    display: flex;
    align-items: center;
}


header ul {
    top: 0;
    line-height: 123px;

}

header li {
    display: inline;
    margin-right: 1vw;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C6C8C7;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1c2321;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1c2321;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

header a {
    color: #1c2321;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}



/* main */

section {
    background: #fafaef;
    padding: 48px 10vw;
    align-items: center;
    max-width: 1440px;
}

/* Hero Page */

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

.introduction h1 {
    font-size: 49px;
    color: #1c2321;
    font-family: Philosopher;
    margin-bottom: 40px;
}

.introduction h3 {
    font-size: 31px;
    color: #1c2321;
    font-family: Philosopher;
    width: 588px;
    margin-bottom: 40px;
    /* margin-right: 80px; */
}

.introduction img {
    width: 394px;
    left: 144px;
}

.ctabutton {
    display: flex;
    align-items: center;

}

.introduction h5 {
    font-size: 20px;
    color: #1c2321;
    font-family: Philosopher;
    padding: 16px 24px;
    margin-right: 24px;
}

.introduction button {
    font-size: 20px;
    background-color: #1c2321;
    color: #fafaef;
    font-family: Philosopher;
    padding: 16px 24px;
    border-radius: 20px;
    border: 0px;
}

/* My Background */
.title h2 {
    color: #1c2321;
    font-size: 39px;
    text-align: center;
    margin-bottom: 0%;
    font-family: Philosopher;
}

.mybackground {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
}


.mybackground h3 {
    font-size: 31px;
    align-items: center;
    justify-content: center;
    color: #fafaef;
    background-position: center;
    background: rgb(0, 0, 0, 0.6);
    font-family: Philosopher;

}


/* My worK */

/* Testimonial */

/* Footer */
footer {
    background: #1c2321;
    padding: 24px 144px;
}

footer h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #1c2321;
    color: #fafaef;
    text-align: left;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #1c2321;
    color: #fafaef;
    text-align: right;
}